<div class="ul-block green">
    <div class="fuji title">FUJI ROCK</div>
    <ul id='fujirock'></ul>
</div>
<div class="ul-block blue">
    <div class="summersonic title">SUMMER SONIC</div>
    <ul id='summersonic'></ul>
</div>
<!--<div class="ul-block dark">
    <div class="tomorrowland title">Tomorrowland</div>
    <ul id='tomorrowland'></ul>
</div>
-->
<script type="text/javascript" src="js/top.js"></script>
