<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Prefes</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/swfobject.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
    <%= yield %>
</body>
</html>
