body {
  background-image: url("../img/bg7.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  background-color: #f1f2f6;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 15px;
}

body.noscroll {
  position: fixed;
  overflow-y: scroll;
}

body, div, ul, li {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style-type: none;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #434a54;
}

/****top******/
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
  height: 50px;
}

#header {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
#header .navbar-header {
  float: left;
  margin: 5px 0 0 0;
}
#header .navbar-collapse {
  float: right;
  margin-top: 15px;
}
#header .navbar-collapse ul li {
  margin: 0 20px 0 0;
  float: left;
}
#header .navbar-collapse ul li a {
  text-decoration: none;
  color: #37BC9B;
}
#header .navbar-collapse ul li a:hover {
  color: #48CFAD;
}

#container {
  width: 1000px;
  margin: 0px auto;
  overflow: hidden;
}
#container .green {
  /*background-color: rgba(160, 212, 104, 0.8);*/
}
#container .blue {
  /*background-color: rgba(78, 193, 233, 0.8);*/
}
#container .dark {
  /*background-color: #CCD1D9;*/
}

#container .ul-block {
  width: 450px;
  margin: 0 20px;
  padding: 15px 0 0 0;
  float: left;
  overflow: hidden;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#container .ul-block .fuji {
  width: 75px;
  margin: 0 auto;
  background-color: #8CC152;
  color: #fff;
  padding: 5px 166px;
}
#container .ul-block .summersonic {
  width: 120px;
  margin: 0 auto;
  background-color: #4A89DC;
  color: #fff;
  padding: 5px 145px;
}
#container .ul-block .tomorrowland {
  width: 112px;
  margin: 0 auto;
}
#container .ul-block .title {
  font-weight: 700;
}

#container .ul-block ul {
  float: left;
  width: 430px;
  margin: 0 20px;
  padding: 0 0 20px 0;
}
#container .ul-block ul li {
  float: left;
  width: 126px;
  height: 152px;
  margin-right: 16px;
  overflow: hidden;
}
#container .ul-block ul li dt {
  position: relative;
  width: 126px;
  height: 85px;
  overflow: hidden;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#container .ul-block ul li dd {
  margin: 0px;
  padding: 3px;
  color: #F5F7FA;
  background-color: rgba(66, 74, 84, 0.8);
}
#container .ul-block ul li a {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
#container .ul-block ul li a:hover {
  opacity: 0.6;
}

.blue dd {
  text-shadow: 1px 1px 1px #000;
}

.green dd {
  text-shadow: 1px 1px 1px #000;
}

@keyframes 'anime' {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*
#container .ul-block{
	#KanyeWest{
		img{
			position: absolute;
			top: -30px;
			left: -30px;
		}
	}
	#ArcticMonkeys{
		img{
			position: absolute;
			top: -20px;
			left: -50px;
		}
	}
	#FranzFerdinand{
		img{
			position: absolute;
			top: -135px;
			left: -85px;
		}
	}
	#Pixies{
		img{
			position: absolute;
			top: 0px;
			left: -40px;
		}
	}
	#Phoenix{
		img{
			position: absolute;
			top: -8px;
			left: -45px;
		}
	}
	#AvengedSevenfold{
		img{
			position: absolute;
			top: -25px;
			left: -45px;
		}
	}
	#JackJohnson{
		img{
			position: absolute;
			top: -60px;
			left: -55px;
		}
	}
	#OutKast{
		img{
			position: absolute;
			top: -35px;
			left: 0px;
		}
	}
	#FosterthePeople{
		img{
			position: absolute;
			top: -25px;
			left: -35px;
		}
	}
	#Kelis{
		img{
			position: absolute;
			top: -25px;
			left: -35px;
		}
	}
	#EllieGoulding{
		img{
			position: absolute;
			top: -25px;
			left: -90px;
		}
	}
	#Megadeth{
		img{
			position: absolute;
			top: 0px;
			left: -90px;
		}
	}
	#ManicStreetPreachers{
		img{
			position: absolute;
			top: -55px;
			left: -35px;
		}
	}
	#BasementJaxx{
		img{
			position: absolute;
			top: -15px;
			left: -30px;
		}
	}
	#Metronomy{
		img{
			position: absolute;
			top: 0px;
			left: -43px;
		}
	}
	#RobertPlant{
		img{
			position: absolute;
			top: -15px;
			left: -55px;
		}
	}
}
*/
.ul-block ul#tomorrowland li img {
  position: absolute;
  top: -45px;
  left: -35px;
}

/****:name******/
object {
  float: left;
  margin-right: 20px;
}

#artist-container {
  width: 1000px;
  overflow: hidden;
}

#scrollwrap {
  height: 500px;
  width: 280px;
  overflow: auto;
}

ul#video_list {
  float: right;
  width: 280px;
  overflow: hidden;
  background-color: rgba(245, 247, 250, 0.9);
}
ul#video_list li {
  margin: 0 0 10px 10px;
}
ul#video_list li a {
  text-shadow: 1px 1px 1px #E6E9ED;
  display: block;
  overflow: hidden;
}
ul#video_list li a img {
  width: 100px;
  float: left;
}
ul#video_list li a .songinfo {
  float: left;
  width: 160px;
  margin: 3px 0 0 10px;
}
ul#video_list li a .percent {
  background-color: #aab2bd;
  display: inline;
  padding: .2em .6em .2em;
  font-size: 75%;
  color: #fff;
  text-align: center;
  text-shadow: none;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
ul#video_list li.current a {
  color: #E9573F;
}
